<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="https://i.ibb.co/nMdZhZv/Untitled-design-5.png" type="image/png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/styles.css">
<script src="static/index.js" charset="utf-8"></script>
</head>
<body>




<div class="topnav">

<a href="/news" class="active">News</a>
  <div id="myLinks">
    <a href="/" >Home</a>
    <a href="/about" >About</a>
    <a href="/sources">Sources</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>

<br>
<center>
  <img src="static/stockshack.png" alt="" width="35%">
  </center>

<div class="subtitle">
  <Center>
    <p>-plan your next move in Stock Market with us- </p>
    </Center>
</div>

<br>


<center>
  <div class="live-points">
  <center>
    <p class="title">NEWS</p>
    </center>






  </center>
<br><br>
   <div class="live-news"> 1:{{data1}} </div>
  <br><br>
   <div class="live-news"> 2:{{data2}} </div>
  <br><br>
   <div class="live-news"> 3:{{data3}} </div>
  <br><br>
   <div class="live-news"> 4:{{data4}} </div>
  <br><br>
   <div class="live-news"> 5:{{data5}} </div>
  <br><br>
   <div class="live-news"> 6:{{data6}} </div>
  <br><br>
   <div class="live-news"> 7:{{data7}} </div>
  <br><br>
   <div class="live-news"> 8:{{data8}} </div>
  <br><br>
   <div class="live-news"> 9:{{data9}} </div>
  <br><br>
   <div class="live-news"> 10:{{data10}} </div>
  <br><br><br>
  <div class="pred-box">
  <center>
    <p>made with 💜 by Aakash</p>


    </center>
  </div>

</body>
</html>




<!-- //413da310698e43d1a030760e85d5f556 -->
