<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" href="https://i.ibb.co/nMdZhZv/Untitled-design-5.png" type="image/png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/styles.css">
<script src="static/index.js" charset="utf-8"></script>
</head>
<body>




<div class="topnav">
<a href="sources.html" class="active">Sources</a>

  <div id="myLinks">
    <a href="/" >Home</a>
    <a href="/about" >About</a>
<a href="/news">News</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>

<br>
<center>
  <img src="static/stockshack.png" alt="" width="35%">
  </center>

<div class="subtitle">
  <Center>
    <p>-plan your next move in Stock Market with us- </p>
    </Center>
</div>

<br>


<center>
  <div class="live-points">
  <center>
    <p class="title">SOURCES</p>
    </center>
    <div class="about">
      <p>Here, I've listed all the sources and APIs I've used for this project</p>
      <br>
      <p>1: NewsApi.org [to get trending news]</p>
      <br>
      <p>2: Google [for live stock indexes]</p>
      <br>
      <p>3: CanvasJS [for making the graph]</p>
  </div>




  </center>
<br><br><br>
  <div class="pred-box">
  <center>
    <p>made with 💜 by Aakash</p>


    </center>
  </div>

</body>
</html>
